.menu{
    color: #c5e1f9;
    font-size: 2rem;   
}

.navbar{
    display: flex;
    padding: 2rem;
    align-items: center;
    justify-content: space-between;
    background-color: red;
    height: 14rem;
    width: 100%;
    background: rgb(3, 8, 22);
    background: linear-gradient(177deg,rgba(3, 8, 22, 1) 2%,rgba(14, 31, 88, 1) 100%);
}

.menuContainer{
    display: flex;
    gap: 0.5rem;
}

.searchContainer{
    display: flex;
    column-gap: 0.5rem;
}

.searchBar{
    border-radius: 0.5rem;
    height: 3rem;
    width: 22rem;
}

.searchButton{
    border-radius: 0.5rem;
    background-color: transparent;
    border: 1px solid green;
    width: 7rem;
    color: whitesmoke  
}

.themeButton{
    border-radius: 100%;
    width: 3rem;
}