.menu{
    color: #c5e1f9;
    font-size: 2rem;   
    position: relative;
    padding: 0.7rem;
    border-radius: 1rem;
}

.navbar{
    display: flex;
    padding: 2rem;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    height: 14rem;
    width: 100%;
    background: rgb(3, 8, 22);
    background: linear-gradient(177deg,rgba(3, 8, 22, 1) 2%,rgba(14, 31, 88, 1) 100%);
}

.homeLink{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.menuContainer{
    display: flex;
    gap: 0.5rem;
}

.searchContainer{
    display: flex;
    column-gap: 0.5rem;
}

.searchBar{
    border-radius: 0.5rem;
    height: 3rem;
    width: 22rem;
    font-size: 1.4rem;
}

.searchButton{
    border-radius: 0.5rem;
    background-color: transparent;
    border: 1px solid green;
    width: 7rem;
    color: whitesmoke;
    font-size: 1.4rem;
}

.themeButton{
    border-radius: 100%;
    width: 3rem;
}

.hoverMenu{
    background-color: #e6ecff;
    border-radius: 0.6rem;
    top: 9rem;
    left: 17.5rem;
    border: 1px solid #0f2b44;
    padding: 1rem;
    position: absolute;
    z-index: 2;
    max-width: 50rem;
    width: 35rem;
}

.menu:hover{
    background-color:rgb(8, 22, 61);
    cursor: pointer;
}

.displayHideMenu{
    visibility: hidden;
}