body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: "Cormorant Garamond", serif;
}

.customContainer{
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.elementsContainer{
    display: flex; 
    width: 100%; 
    height: calc( 100% - 14rem); 
    align-items: center;
}
